<!doctype html>
<html lang="en">
<head>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="initial-scale=1.25, user-scalable=no">

  <meta charset="utf-8">
  <title>Widget List</title>
  <Link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="../../css/styles.css">
</head>


<body>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <p class="navbar-text pull-left">
      <a href="../page/page-list.html" class="navbar-link">
        <span class="glyphicon glyphicon-menu-left"></span>
      </a>
    </p>

    <p class="navbar-brand header-custom pull-left">
      <b>Widgets</b>
    </p>

    <p class="navbar-text pull-right">
      <a href="widget-choose.html" class="navbar-link">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </p>

  </div>
</nav>

<div class="container-fluid">
  <div class="jga-widget">
    <div class="jga-toolbar">
        <a href="widget-heading.html">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <h1>A Heading of Size 1</h1>
  </div>

  <div class="jga-widget">
    <div class="jga-toolbar">
      <a href="widget-image.html">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <img class="jga-content" src="http://lorempixel.com/400/200">
  </div>

  <div class="jga-widget">
    <div class="jga-toolbar">
      <a href="">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <p>Halfway through a contentious trial, <a href="https://gizmodo.com/waymo-uber-settle-lawsuit-over-automated-vehicle-trade-1822869082" rel="nofollow" onclick="window.ga('send', 'event', 'Embedded Url', 'Internal link', 'https://gizmodo.com/waymo-uber-settle-lawsuit-over-automated-vehicle-trade-1822869082', {metric25:1})">Waymo settled its high-profile lawsuit against Uber</a> in a deal that gives Google’s parent company Alphabet $245 million in Uber equity—a slightly larger stake than Google already has—and allows Waymo to keep tabs on Uber’s self-driving car program.<br></p>
  </div>

  <div class="jga-widget">
    <div class="jga-toolbar">
      <a href="widget-youtube.html">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/4uTNVumfm84" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>  </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a href="../user/profile.html">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>

</body>
</html>
