<!doctype html>
<html lang="en">
<head>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="initial-scale=1.25, user-scalable=no">

  <meta charset="utf-8">
  <title>Profile</title>
  <Link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="../../css/styles.css">
</head>



<body>
<nav class="navbar bg-primary navbar-static-top">
  <div class="container-fluid">
    <p class="navbar-brand pull-left">
      <b>Profile</b>
    </p>
    <p class="navbar-text pull-right">
      <a href="profile.html" class="navbar-link ref-custom">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </p>

  </div>
</nav>

<div class="container-fluid">
  <h4><b>Username</b></h4>
  <input type="text" class="form-control" name="username" value="username">
  <h4><b>Email</b></h4>
  <input type="email" class="form-control" name="email" value="email">
  <h4><b>First Name</b></h4>
  <input type="text" class="form-control" name="firstname" value="firstname">
  <h4><b>Last Name</b></h4>
  <input type="text" class="form-control" name="lastname" value="lastname">
  <br>
  <a href="../website/website-list.html" class="btn btn-primary btn-block">Websites</a>
  <a href="login.html" class="btn btn-danger btn-block">Logout</a>

</div>

<nav class="navbar bg-primary navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a href="profile.html">
        <span class="glyphicon glyphicon-user ref-custom"></span>
      </a>
    </p>

  </div>
</nav>

</body>
</html>
